*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
}
.wrapper{
    height: 100px;
    width: 360px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b,#ff00e0);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}
.wrapper .display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 345px;
    text-align: center;
}
.wrapper .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #4ce7d8, #c5c093,#2c1329);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}

